<div class="page-signup">

    <div class="signin-header">
      <div class="container text-center">
        <section class="logo">
          <a href="#/">
            <md-icon class="color-primary" md-svg-src="dist/img/CS_sygnet.svg"></md-icon>
          </a>
        </section>
      </div>
    </div>

    <div class="main-body">
        <div class="container">
            <div class="form-container">

              <p>Aby dowiedzieć się szczegółów dotyczących programu (zasad uczestnictwa, finansowania, standardów) zarejestruj się w celu pobrania informacji, rejestracja nie oznacza deklaracji przystąpienia do programu.</p>

                <section>
                    <form class="form-horizontal">
                      <div class="form-group">
                        <md-input-container md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_person_24px.svg"></md-icon>
                          <input ng-model="user.name" type="text" placeholder="Nazwa użytkownika">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_mail_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Email">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_done_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Login do systemu">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_lock_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Hasło">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_lock_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Powtórz hasło">
                        </md-input-container>
                      </div>
                      
                      
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_business_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Nazwa firmy">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_contacts_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="NIP">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_contacts_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Regon">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_contacts_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="KRS">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_quick_contacts_mail_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Miasto">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_quick_contacts_mail_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Adres">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_quick_contacts_mail_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Kod pocztowy">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_call_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Telefon">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_quick_contacts_dialer_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Osoba reprezentująca">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_location_on_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Województwo">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="dist/img/icons/ic_stay_current_portrait_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Adres strony www">
                        </md-input-container>
                      </div>

                        <div class="form-group">
                            <p class="text-muted text-small">Klikając przycisk ZAREJESTRUJ zgadzasz się z treścią  <a href="javascript:;">regulaminu</a> i akceptujesz jego postanowienia.</p>
                            <div class="divider"></div>
                          <md-button class="btn-width-large btn-block btn-lg md-primary md-raised">ZAREJESTRUJ</md-button>
                        </div>
 
                    </form>
                </section>

                <section>
                    <p class="text-center text-muted">Masz już konto? <a href="#/pages/signin" >Zaloguj się</a></p>
                </section>

            </div>
        </div>
    </div>
</div>