<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li class="active">Dashboard</li>
    </ol>
</div>
<!-- end Breadcrumbs -->

<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

<section class="md-content-section">
  <div class="row">

    <div class="col-sm-3">
      <md-card>
        <md-card-content class="card-primary">
          <div class="card-bg-icon">
            <md-icon md-svg-src="dist/img/icons/ic_verified_user_48px.svg"></md-icon>
          </div>
          <md-icon md-svg-src="dist/img/icons/ic_verified_user_48px.svg"></md-icon>

          <h3>Bieżący raport</h3>

          <p>
            Prezentujemy raporty podsumowujący działania w Programie Promocji CS.
          </p>
          
          
          <md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
        </md-card-content>
      </md-card>
    </div>

    <div class="col-sm-3">
      <md-card>
        <md-card-content class="card-accent">
          <div class="card-bg-icon">
            <md-icon md-svg-src="dist/img/icons/ic_history_48px.svg"></md-icon>
          </div>
          <md-icon md-svg-src="dist/img/icons/ic_history_48px.svg"></md-icon>
          <h3>Plan działań reklamowych</h3>
          <p>
            Bieżacy plan <br>
działań reklamowych <br>
na rok 2015
          </p>
          <md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
        </md-card-content>
      </md-card>
    </div>

    <div class="col-sm-3">
      <md-card>
        <md-card-content class="card-warning">
          <div class="card-bg-icon">
            <md-icon md-svg-src="dist/img/icons/ic_invert_colors_48px.svg"></md-icon>
          </div>
          <md-icon md-svg-src="dist/img/icons/ic_invert_colors_48px.svg"></md-icon>
          <h3>Materiały do druku</h3>
          <p>
            Nowe dokumenty <br>
do druku dla kampanii <br>
"Zbnk"
          </p>
          <md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
        </md-card-content>
      </md-card>
    </div>

    <div class="col-sm-3">
      <md-card>
        <md-card-content class="card-danger">
          <div class="card-bg-icon">
            <md-icon md-svg-src="dist/img/icons/ic_wallet_membership_48px.svg"></md-icon>
          </div>
          <md-icon md-svg-src="dist/img/icons/ic_wallet_membership_48px.svg"></md-icon>
          <h3>SIW + Logo CS</h3>
          <p>
            Zaaktualizowana księga znaku <br>
i logotypy CS <br>
na rok 2015
          </p>
          <md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
        </md-card-content>
      </md-card>
    </div>

  </div>
</section>


<section data-ng-controller="sparklineCtrl">

  <div class="row">
  <div class="col-sm-4" data-ng-controller="chartingCtrl">
            <div>
              <section class="md-content-section">
                <md-card>
                  <img src="download/akcje_promocyjne/zbnk_630.jpg" alt="ZBNK">
                  <md-card-content>
                    <md-button class="md-fab middle-right md-accent" aria-label="Eat cake">
                      <md-icon md-svg-src="dist/img/icons/ic_wb_sunny_24px.svg"></md-icon>
                    </md-button>
                    <h2>Zbnk</h2>
                    <p>
                     Opublikowaliśmy kolejny odcinek poradnika dla pań, 
na poprawienie kondycji mięśni brzucha. <br>
Opublikowaliśmy kolejny odcinek <br>
poradnika dla pań, na poprawienie <br>
kondycji mięśni brzucha.
                    </p>
					<md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
                  </md-card-content>
                </md-card>
              </section>

            </div>

        </div>
  
  <div class="col-sm-4" data-ng-controller="chartingCtrl">
            <div>
              <section class="md-content-section">
                <md-card>
                  <img src="download/akcje_promocyjne/spotkanie.jpg" alt="ZBNK">
                  <md-card-content>
                    <md-button class="md-fab middle-right md-success" aria-label="Eat cake">
                      <md-icon md-svg-src="dist/img/icons/ic_event_24px.svg"></md-icon>
                    </md-button>
                    <h2>Spotkanie uczestników</h2>
                    <p>
                     9-10 czerwca 2015 - Warszawa Zapraszamy na coroczne spotkanie Uczestników Programu Promocji CS, połączonymi z warsztatami oraz wykładami z zakresu marketingu i promocji CS
                    </p>
					<md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
                  </md-card-content>
                </md-card>
              </section>

            </div>

        </div>
  
  <div class="col-sm-4" data-ng-controller="chartingCtrl">
            <div>
              <section class="md-content-section">
                <md-card>
                  <img src="download/akcje_promocyjne/spotkanie.jpg" alt="ZBNK">
                  <md-card-content>
                    <md-button class="md-fab middle-right md-info" aria-label="Eat cake">
                      <md-icon md-svg-src="dist/img/icons/ic_info_24px.svg"></md-icon>
                    </md-button>
                    <h2>Spotkanie uczestników</h2>
                    <p>
                     9-10 czerwca 2015 - Warszawa Zapraszamy na coroczne spotkanie Uczestników Programu Promocji CS, połączonymi z warsztatami oraz wykładami z zakresu marketingu i promocji CS
                    </p>
					<md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
                  </md-card-content>
                </md-card>
              </section>

            </div>

        </div>

    

  </div>


</section>


<section data-ng-controller="sparklineCtrl">

  <div class="row">
  <div class="col-sm-4" data-ng-controller="chartingCtrl">
            <div>
              <section class="md-content-section">
                <md-card>
                  <img src="download/akcje_promocyjne/zbnk_630.jpg" alt="ZBNK">
                  <md-card-content>
                    <md-button class="md-fab middle-right md-danger" aria-label="Eat cake">
                      <md-icon md-svg-src="dist/img/icons/ic_open_with_24px.svg"></md-icon>
                    </md-button>
                    <h2>Zbnk</h2>
                    <p>
                     Opublikowaliśmy kolejny odcinek poradnika dla pań, 
na poprawienie kondycji mięśni brzucha. <br>
Opublikowaliśmy kolejny odcinek <br>
poradnika dla pań, na poprawienie <br>
kondycji mięśni brzucha.
                    </p>
					<md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
                  </md-card-content>
                </md-card>
              </section>

            </div>

        </div>
  
  <div class="col-sm-4" data-ng-controller="chartingCtrl">
            <div>
              <section class="md-content-section">
                <md-card>
                  <img src="download/akcje_promocyjne/spotkanie.jpg" alt="ZBNK">
                  <md-card-content>
                    <md-button class="md-fab middle-right md-warning" aria-label="Eat cake">
                      <md-icon md-svg-src="dist/img/icons/ic_settings_backup_restore_24px.svg"></md-icon>
                    </md-button>
                    <h2>Spotkanie uczestników</h2>
                    <p>
                     9-10 czerwca 2015 - Warszawa Zapraszamy na coroczne spotkanie Uczestników Programu Promocji CS, połączonymi z warsztatami oraz wykładami z zakresu marketingu i promocji CS
                    </p>
					<md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
                  </md-card-content>
                </md-card>
              </section>

            </div>

        </div>
  
  <div class="col-sm-4" data-ng-controller="chartingCtrl">
            <div>
              <section class="md-content-section">
                <md-card>
                  <img src="download/akcje_promocyjne/spotkanie.jpg" alt="ZBNK">
                  <md-card-content>
                    <md-button class="md-fab middle-right md-warning" aria-label="Eat cake">
                      <md-icon md-svg-src="dist/img/icons/ic_settings_backup_restore_24px.svg"></md-icon>
                    </md-button>
                    <h2>Spotkanie uczestników</h2>
                    <p>
                     9-10 czerwca 2015 - Warszawa Zapraszamy na coroczne spotkanie Uczestników Programu Promocji CS, połączonymi z warsztatami oraz wykładami z zakresu marketingu i promocji CS
                    </p>
					<md-button aria-label="Button" class="btn-width-medium md-raised"><a href="#/dokumenty3">zobacz szczegóły</a></md-button>
                  </md-card-content>
                </md-card>
              </section>

            </div>

        </div>

    

  </div>


</section>






</div>
  