<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Akcje promocyjne</a></li>
        <li class="active">Zbnk</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<div class="row">
        <div class="col-md-7">     
              
            <div class="panel panel-default">                
                <div class="panel-body">
                <h2>Zbnk</h2>
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                
                                <li>
                                    <span class="icon glyphicon glyphicon-tasks"></span>
                                    <label>Status</label>
                                    bieżaca edycja trwa do 30.06.2015
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-play-circle"></span>
                                    <label>Media </label>
                                    Youtube, AdWords, Facebook, TV
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-stats"></span>
                                    <label>Ilość edycji</label>
                                <strong>3</strong> - 2015 / 2013 / 2011 </li>                                
                                <li>
                                    <span class="icon glyphicon glyphicon-list-alt"></span>
                                    <label>Opis akcji</label></br>
                                    Rozpoczynamy trzecią edycję akcji „Zbnk”. W tym roku do treningu mięśni brzucha zapraszamy panie, które razem z trenerką personalną i szkoleniowcem fitness - Magdaleną Prieditis -  będą mogły zawalczyć o przysłowiowy kaloryfer na brzuchu. 
                                    Przygotowane zostały trzy treningi wideo, które niebawem będą miały swoją premierę na portalu YouTube.  
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-5">
        <div class="row">
                    <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-danger">
                            <i class="fa fa-youtube-square"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">14</p>
                            <p class="text-muted">filmów na Youtube</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-warning">
                            <i class="fa fa-desktop"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">42</p>
                            <p class="text-muted">banery Internetowe</p>
                        </div>
                    </div>
                </div>
             </div>
          </div>
          
          <div class="col-md-5">
        <div class="row">
                    <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-info">
                            <i class="fa fa-bar-chart"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">670</p>
                            <p class="text-muted">wskaźnik GRP</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel small-box-icon">
                        <span class="box-icon bg-info">
                            <i class="fa  fa-pie-chart"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">57%</p>
                            <p class="text-muted">konwersja COV</p>
                        </div>
                    </div>
                </div>
             </div>
          </div>
          
          
    </div>


<hr/>

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-7">
      <h2>Edycja - rok 2015</h2>
      <div>        
        <p>
          Rozpoczynamy trzecią edycję akcji „Zbnk”. W tym roku do treningu mięśni brzucha zapraszamy panie, które razem z trenerką personalną i szkoleniowcem fitness - Magdaleną Prieditis -  będą mogły zawalczyć o przysłowiowy kaloryfer na brzuchu. 
 
Przygotowane zostały trzy treningi wideo, które niebawem będą miały swoją premierę na portalu YouTube. Tegoroczne odcinki dopasowane są do potrzeb kobiecych sylwetek i mają nie tylko wzmocnić mięśnie, ale też działać wysmuklająco na brzuch. Jeden z odcinków skierowany jest do kobiet, które chcą wrócić do formy po okresie ciąży. Wszystkie zestawy ćwiczeń można wykonać w domu, bez urządzeń i sprzętów treningowych - do ćwiczeń wystarczy np. karimata i piłka. W dokładnym zrozumieniu treningów pomogą drukowane instrukcje, dołączane do filmów, a w utrzymaniu wysokiego poziomu motywacji i determinacji pomogą ćwiczącym obrazki motywacyjne, które pojawią się w kanałach social media CS, gdzie akcja będzie komunikowana. 
 
Poprzednie edycje akcji „Zbnk”, adresowane do panów, cieszyły się dużą popularnością. Filmy na kanale YouTube zostały wyświetlone ponad pół miliona razy, a kanał subskrybuje coraz więcej ćwiczących. Pod filmami wciąż pojawiają się nowe pytania do trenerów, w kwestii techniki i diety, na które odpowiadamy, pomagając w walce o kaloryfer na brzuchu każdemu, kto wsparcia potrzebuje.   
 
Poniżej można także pobrać linki i kody do zamieszczenia filmów i instrukcji na swoich stronach internetowych, a także opis akcji do wklejenia do działu aktualności. Gorąco zachęcamy do włączenia się w promocję akcji.</p>
        <p>Opis akcji na www dostawcow CS          </p>
        <p>W zimie rozgrzewa kaloryfer na ścianie, a w kwietniu powoli zaczyna się sezon na kaloryfer na brzuchu.  W związku tym dostawca CS - firma […nazwa firmy…] zaprasza do wspólnej rozgrzewki. W ramach akcji „Zbnk” zadbamy o kaloryfery, ale nie te w mieszkaniach. Głównym celem akcji jest wyćwiczenie przysłowiowego kaloryfera na brzuchu. Dwie poprzednie edycje skierowane były do panów, w tym roku do podjęcia wyzwania i walki o kaloryfer zapraszamy panie.          </p>
        <p>Na kanale YouTube „Ciepła Strona Życia” pojawią się zestawy ćwiczeń, skierowane do kobiet. Panie potrzebują innego rodzaju ćwiczeń mięśni brzucha, niż panowie, dlatego specjalnie dla nich przygotowaliśmy trening zatytułowany „smukły brzuch” oraz popularny zestaw ćwiczeń „ABS”. Całość dopełni trening przygotowany z myślą o świeżo upieczonych mamach, które po okresie ciąży chcą wrócić do formy. Pomoże w tym trenerka personalna Magdalena Prieditis, która sama jest mamą i wie, w jaki sposób można osiągnąć zadowalający efekt.          </p>
        <p>Na profilu „Ciepłej Strony Życia” na portalu Facebook będziemy zachęcać i motywować do ćwiczeń. Wiemy, że najtrudniej jest zacząć oraz, że niełatwo jest wytrwać w postanowieniu o zmianie. Dlatego razem z trenerką CS postaramy się podtrzymać zapał, zachęcając także do pobrania materiałów drukowanych z planem treningowym.          </p>
        <p>Ćwiczenia i materiały treningowe można obejrzeć i pobrać na stronie cieplosystemowe.pl.          </p>
        <p>Gorąco zachęcamy do podjęcia wyzwania przemiany bojlera na kaloryfer jeszcze przed latem!</p>
      </div>
      <hr/>
      <h2>Edycja - rok 2013</h2>
      <div>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <hr/>
       <h2>Edycja - rok 2011</h2>
      <div>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div> 
    </div>
    <div class="col-md-5">
      <md-content>
        <div class="md-content__download"> 
        <h2>Materiały do pobrania</h2>  
          <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Plany działań na rok 2015 - 146kB</p>
          </a>
        </li>
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Plany działań na rok 2015 - 146kB</p>
          </a>
        </li>
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Plany działań na rok 2015 - 146kB</p>
          </a>
        </li>
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Plany działań na rok 2015 - 146kB</p>
          </a>
        </li>        
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>


</div>


