<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Narzędzia</a></li>
        <li class="active">Książeczka dla dzieci</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-7">
      <h2>Książeczka dla dzieci</h2>
      <div>        
        <p>
         Zapraszamy Państwa do zapoznania się z materiałem przygotowanym dla Uczestników Programu Promocji CS. Jest to książeczka dla dzieci z historią o Czerwonym Kapturku, który zamieszkał w mieście i korzysta z CS. Publikacja przygotowana została z myślą o dzieciach w wieku przedszkolnym oraz uczęszczających do szkół podstawowych. Jest pretekstem do przeprowadzenia lekcji o zasadach racjonalnego korzystania z ciepła. Do książeczki przygotowano tez materiały pomocnicze, takie jak audiobook czy kolorowanka. Szczegółowe informacje znajdują się poniżej. </p>
      </div>
      <hr/>
      <h2>Uwaga - wspólna produkcja</h2>
      <div>        
        <p>Cyklicznie organizujemy wspólną produkcję książeczki z historią o "Czerwonym Kapturku w mieście". Podczas wspólnej produkcji Dostawcy CS mogą zamówić publikację dla dzieci w atrakcyjnej cenie. Ostatnia wspólna produkcja odbyła się przed Dniem Dziecka, natomiast kolejną uruchomimy, gdy zbierze się wystarczająca liczba chętnych do produkcji. Jeśli więc chcieliby Państwo wziąć udział w kolejnej produkcji prosimy o przesłanie informacji o potrzebnym nakładzie na adres agnieszka@konceptlab.pl. Jednocześnie przypominamy, że w dowolnej chwili można zamówić książeczki samodzielnie - wówczas zlecenie wyceniane jest indywidualnie. 
Książka na stronie trzeciej posiada miejsce na oznakowanie logotypem Dostawcy CS (logo w wersji monochromatycznej), adres strony internetowej oraz krótki tekst skierowany do dzieci.</p>
<p><strong>Parametry druku książeczki:</strong> <br>
format:  240 x 240 mm<br>
kolory: 4/4 + lakier offsetowy 1/1<br>
ilość stron: 20<br>
papier: kreda mat 200g<br>
introligatornia: szycie dwoma zszywkami</p>
        </div>
        <hr/>
       <h2>Materiały do promocji książeczki</h2>
      <div>        
        <p>Przygotowaliśmy także materiały, które pomogą Państwu w promocji książeczki. Wśród nich znajdują się:
 
- nowość! - kolorowanka, która utrwala najważniejsze zasady z książeczki "Czerwony Kapturek w miescie". Łączy zabawę z nauką. Zawiera miejsce na logo firmy wewnątrz okładki. Kolorowankę będzie można zamówić w ramach najbliższej wspólnej produkcji gadżetów reklamowych Dostawców CS. </p>
        </div> 
    </div>
    <div class="col-md-5 do-pobrania">
      <md-content>
        <div class="md-content__download"> 
        <h2>Materiały do pobrania</h2>  
          <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Pobierz wizualizację książeczki</p>
          </a>
        </li>  
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Pobierz wizualizację kolorowanki </p>
          </a>
        </li>        
        </div>
      </md-content>
    </div>
    
    <div class="col-md-5 do-pobrania">
      <md-content>
        <div class="md-content__download"> 
        <h2>Materiały do druku</h2>  
          <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Plakat A2</p>
          </a>
        </li>   
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Dyplom A4</p>
          </a>
        </li>   
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/doc.png" alt="">
            <p>Materiały informacyjne</p>
          </a>
        </li>        
        </div>
      </md-content>
    </div>
    
     <div class="col-md-5 do-pobrania">
      <md-content>
        <div class="md-content__download"> 
        <h2>Materiały do internetu</h2>  
          <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Banery flash - komplet</p>
          </a>
        </li>   
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Banery statyczne - komplet</p>
          </a>
        </li>   
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/css.png" alt="">
            <p>Kod do Facebooka</p>
          </a>
        </li>        
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>


</div>


