<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Dobre praktyki</a></li>
        <li class="active">Dobre praktyki uczestników</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-12">
      <h2>Siedziba firmy</h2>
      <div>                 
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  <div class="row">
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/firma_01.jpg" width="200" height="150" alt=""/></a><br/>PEC Siedlce</div>
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/firma_02.jpg" width="200" height="150" alt=""/></a><br/>PEC Siedlce</div>
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/firma_03.jpg" width="200" height="150" alt=""/></a><br/>PEC Gniezno</div>
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/firma_04.jpg" width="200" height="150" alt=""/></a><br/>PEC Gniezno</div>
        </div>
      </div>
      <hr/>
      <h2>Baner</h2>
      <div>                 
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  <div class="row">
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/baner_01.jpg" width="200" height="150" alt=""/></a><br/>PEC Siedlce</div>
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/baner_02.jpg" width="200" height="150" alt=""/></a><br/>PEC Siedlce</div>
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/baner_03.jpg" width="200" height="150" alt=""/></a><br/>PEC Gniezno</div>        
        </div>
      </div>
      <hr/>
      <h2>Rollup</h2>
      <div>                 
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  <div class="row">
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/roll_01.jpg" width="200" height="150" alt=""/></a><br/>PEC Siedlce</div>
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/roll_02.jpg" width="200" height="150" alt=""/></a><br/>PEC Siedlce</div>        
        </div>
      </div>
      <hr/>
      <h2>Ulotka</h2>
      <div>                 
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  <div class="row">
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/ulotka_01.jpg" width="200" height="150" alt=""/></a><br/>PEC Siedlce</div>
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/ulotka_02.jpg" width="200" height="150" alt=""/></a><br/>PEC Siedlce</div>
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/ulotka_03.jpg" width="200" height="150" alt=""/></a><br/>PEC Gniezno</div>
        <div class="col-md-3 text-center"><a href="#"><img src="download/dobre_praktyki/ulotka_04.jpg" width="200" height="150" alt=""/></a><br/>PEC Gniezno</div>
        </div>
      </div>
    </div>
   
  </div>

</section>

<hr/>


</div>


