<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Dokumenty</a></li>
        <li class="active">Plany działań</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-7">
      <h2>Plany działań na rok 2015</h2>
      <div>
        <p>
         W niniejszym dokumencie opisane są działania zaplanowane na <code>2015 r.</code>
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <md-content>
        <div class="md-content__download"> 
        <h2>Materiały do pobrania</h2>  
          <li class="download_list">
          <a href="download/dokumenty/plan.pdf" target="_blank">
            <img src="download/_thumbs/pdf.png" alt="">
            <p>Plany działań na rok 2015 - 146kB</p>
          </a>
        </li>        
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>


</div>


