<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Dokumenty</a></li>
        <li class="active">Ankieta</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-7">
      <h2>Ankieta przeprowadzona wśród dostawców CS</h2>
      <div>
        <p>Badanie zostało przeprowadzone wśród dostawców CS w maju i czerwcu 2011 roku. Wykonano je przy użyciu interaktywnej ankiety zamieszczonej na stronie cieplosystemowe.biz. Celem badania była ocena Programu i narzędzi udostępnionych uczestnikom oraz zmierzenie zadowolenia z uczestnictwa w Programie. Ankietowani mogli także określić zapotrzebowanie na gadżety CS.</p>         
		  <p>Ankietę wypełniło <code>70% uczestników Programu.</code> Raport zawierający wnioski z badania można pobrać poniżej.</p>
      </div>
    </div>
    <div class="col-md-5">
      <md-content>
        <div class="md-content__download"> 
        <h2>Materiały do pobrania</h2>  
          <li class="download_list">
          <a href="download/dokumenty/plan.pdf" target="_blank">
            <img src="download/_thumbs/pdf.png" alt="">
            <p>Raport z badania ankietowego, wrzesień 2011 (635 KB)</p>
          </a>
        </li>  
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>


</div>


