<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Dokumenty</a></li>
        <li class="active">Raporty</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-7">
      <h2>Raporty podsumowujące działania w PPCS</h2>
      <div>
        <p>
         Prezentujemy raporty podsumowujący działania w Programie Promocji CS w latach 2011-2014.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="col-md-5">
      <md-content>
        <div class="md-content__download"> 
        <h2>Materiały do pobrania</h2>  
          <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/_thumbs/pdf.png" alt="">
            <p>Raport z działań w 2014 roku (5,3 MB)</p>
          </a>
        </li>
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/_thumbs/pdf.png" alt="">
            <p>Raport z działań w 2013 roku (2,3 MB)</p>
          </a>
        </li>
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/_thumbs/pdf.png" alt="">
            <p>Raport z działań w 2012 roku (4,0 MB)</p>
          </a>
        </li>
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/_thumbs/pdf.png" alt="">
            <p>Raport z działań w 2011 roku (4,3 MB)</p>
          </a>
        </li> 
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>


</div>


