<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Dokumenty</a></li>
        <li class="active">Wyniki badań</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-7">
      <h2>Wyniki badań PBS</h2>
      <div>
        <p><strong>Raport z badania wizerunku CS - 2014</strong></p>
        <p>
          Z badań wynika, że poziom znajomości marki CS systematyczne wzrasta, głównie dzięki ogólnopolskim kampaniom reklamowym.
        </p>
        <p><strong>Raport z badania wizerunku CS - 2011</strong></p>
        <p>Badanie zostało przeprowadzone na próbie 500 Konsumentów, 301 klientów oraz 126 Inwestorów i Projektantów przez PBS DGA. Celem badania było określenie poziomu znajomości spontanicznej i wspomaganej CS. Zbadano także elementy wizerunku usługi i znajomość elementów akcji marketingowych. 
Szczegółowy raport znajduje się w poniższym załączniku.</p><p> Wraz z raportem przedstawiamy ofertę na lokalne badania wizerunku marki, z której mogą skorzystać Dostawcy CS.</p>
      </div>
    </div>
    <div class="col-md-5">
      <md-content>
        <div class="md-content__download"> 
        <h2>Materiały do pobrania</h2>  
          <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>CS PBS (2,8 MB)</p>
          </a>
        </li>
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Oferta wspólne badanie 29.04.2011 (1,8 MB)</p>
          </a>
        </li> 
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/thumbs/pdf.png" alt="">
            <p>Raport z badań PBS-DGA 2014</p>
          </a>
        </li>        
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>


</div>


