<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Dokumenty</a></li>
        <li class="active">Dokumenty akcesyjne</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-7">
      <h2>Dokumenty akcesyjne - raport, wnioski, umowy i zasady uczestnictwa.</h2>
      <div>                 
		  <p>Ankietę wypełniło <code>70% uczestników Programu.</code> Raport zawierający wnioski z badania można pobrać poniżej.</p>
          <p>Załączone poniżej dokumenty przeznaczone są dla firm, które chciałyby przystąpić do Programu Promocji CS. Jeśli są Państwo zainteresowani uczestnictwem w tym przedsięwzięciu, prosimy o zapoznanie się z Zasadami Uczestnictwa oraz o wypełnienie Raportu i Wniosku, a następnie przesłanie ich w formie skanów na adres cieplosystemowe@cieplosystemowe.pl.</p>
      </div>
    </div>
    <div class="col-md-5">
      <md-content>      
        <div class="md-content__download"> 
        <h2>Materiały do pobrania</h2>  
          <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/_thumbs/pdf.png" alt="">
            <p>Umowa, wniosek, raport (253 KB)</p>
          </a>
        </li>
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/_thumbs/pdf.png" alt="">
            <p>Zasady uczestnictwa w Programie (120 KB)</p>
          </a>
        </li>  
        <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/_thumbs/css.png" alt="">
            <p>Zasady partnerstwa w Programie 120 KB)</p>
          </a>
        </li>           
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>


</div>


