<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Działania reklamowe</a></li>
        <li class="active">Plan, realizacja, podsumowanie</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-7">
      <h2>Plan działań reklamowych - 2015</h2>
      <div>        
        <p>
          W pierwszym kwartale 2015 roku działania reklamowe rozpoczną się 2 lutego od uruchomienia kampanii reklamowej w sieci Google. Promowane będą treści związane z „ogrzewaniem” i „centralnym ogrzewaniem”. Jak bowiem wynika z analizy zapytań, kierowanych przez konsumentów do wyszukiwarki, są to najczęściej wyszukiwane frazy, związane z ciepłem, w pierwszym kwartale roku. CS promowane będzie za pomocą kampanii AdWords oraz poprzez materiały graficzne umieszczone w sieci reklamowej Google, na stronach tematycznie związanych z ogrzewaniem. Użytkownicy po kliknięciu w reklamę kierowani będą na <code>landing page</code>, na którym dowiedzą się o najważniejszych zaletach CS, a także będą mogli odszukać swojego dostawcę ciepła.
		</p>
        <p>Od połowy lutego komunikacja ta zostanie uzupełniona o frazy związane z wyborem sposobu ogrzewania, w kontekście zakupu mieszkania. Będzie to wsparcie dla działań reklamowych, które realizowane będą na antenie stacji radiowych. W tym przypadku użytkownicy zainteresowani naszym przekazem reklamowym kierowani będą na <code>landing page</code> promujący wybór CS jako, sposobu ogrzewania mieszkania.
          </p>
        <p>Kolejnym działaniem będą kampanie reklamowe w stacjach radiowych. Promowanym przekazem będzie wybór sposobu ogrzewania. Narzędziem będzie spot wykorzystany podczas kampanii realizowanej w IV kw. 2014 r.
          </p>
        <p>Harmonogram emisji radiowych przedstawia się następująco:
          </p>
        <p><code>2 lutego - 30 kwietnia</code>
          Działania w sieci reklamowej Google.
          </p>
        <p><code>16 lutego - 29 marca</code>
          Kampania radiowa na antenie Trójki realizowana w systemie day on/day off z intensywnością około 4 spotów dziennie. Łącznie wyemitowanych zostanie 112 spotów.
          </p>
        <p><code>21 lutego - 15 marca</code>
          Weekendowe emisje w Radiu Zet oraz RMF FM.
          Planowana intensywność 4-5 razy dziennie. Łącznie wyemitowanych zostanie 87 spotów.
          Planowane skumulowane wskaźniki kampanii: GRP 584, COV 57%, OTH 19. Oznacza to że dotrzemy dzięki tej kampanii do 57% grupy docelowej, a średni kontakt z reklamą wyniesie 19 razy. To pozwoli na realizację kampanii z efektywnością 584 pkt GRP (za skuteczne uznaje się działanie na poziomie 250 pkt).
          </p>
        <p><code>9 marca - 4 kwietnia</code>
          Realizacja reklamy odsłonowej na głównej stronie portalu Onet.pl. Planowana forma reklamy to screening z doublebillboardem. To jedna z najbardziej efektywnych form reklamy odsłonowej. Planowane jest wyświetlenie 13,2 mln odsłon z geotargetowaniem na miasta, w których działają dostawcy CS.
          Działania reklamowe zakończa się 30 kwietnia w sieci reklamowej Google.          </p>
        <p>Przypominamy o możliwości wykorzystania lokalnych wersji spotów radiowych w celu wzmocnienia efektów kampanii na własnym rynku. Zainteresowanych prosimy o kontakt z firmą zarządzającą Programem Promocji CS. </p>
      </div>
      <hr/>
      <h2>Realizacja działań reklamowych - 2015</h2>
      <div>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <hr/>
       <h2>Podsumowanie działań reklamowych - 2015</h2>
      <div>        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div> 
    </div>
    <div class="col-md-5">
      <md-content>
        <div class="md-content__download"> 
        <h2>Materiały do pobrania</h2>  
          <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/_thumbs/pdf.png" alt="">
            <p>Plany działań na rok 2015 - 146kB</p>
          </a>
        </li>        
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>


</div>


