
<div class="page page-profile">

    
<section class="md-content-section">


<div class="row">
    <div class="col-md-12">
      <h2>Profil uczestnika</h2>
	</div>
</div>    

  <div class="row">
    <div class="col-md-6">
      
    
            <div class="form-container">              

                <section>
                    <form class="form-horizontal">
                      <div class="form-group">
                        <md-input-container md-no-float>
                          <md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
                          <input ng-model="user.name" type="text" placeholder="Nazwa użytkownika">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_mail_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Email">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_done_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Login do systemu">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_lock_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Hasło">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_lock_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Powtórz hasło">
                        </md-input-container>
                      </div>
                      
                      
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_business_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Nazwa firmy">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_contacts_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="NIP">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_contacts_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Regon">
                        </md-input-container>
                      </div>

                    </form>
                </section>

               

            </div>
      
      
      
    </div>
   
   
   
<div class="col-md-6">
      
     
            <div class="form-container">              

                <section>
                    <form class="form-horizontal">
                      
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_contacts_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="KRS">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_quick_contacts_mail_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Miasto">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_quick_contacts_mail_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Adres">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_quick_contacts_mail_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Kod pocztowy">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_call_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Telefon">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_quick_contacts_dialer_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Osoba reprezentująca">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_location_on_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Województwo">
                        </md-input-container>
                      </div>
                      <div class="form-group">
                        <md-input-container class="md-primary" md-no-float>
                          <md-icon md-svg-src="img/icons/ic_stay_current_portrait_24px.svg"></md-icon>
                          <input ng-model="user.phone" type="text" placeholder="Adres strony www">
                        </md-input-container>
                      </div>

                        <div class="form-group">                            
                            <div class="divider"></div>
                          <md-button class="btn-width-large btn-block btn-lg md-primary md-raised">ZMIEŃ</md-button>
                        </div>
 
                    </form>
                </section>
                

            </div>
       
      
      
    </div>   
   
   
   
  </div>

</section>

<hr/>
    

    

</div>