<!-- Breadcrumbs -->
<div class="region-breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-home"></i></a></li>
        <li><a href="#/dokumenty">Spotkania</a></li>
        <li class="active">Spotkanie 2015</li>
    </ol>
</div>
<!-- end Breadcrumbs -->


<div class="page">

<!-- Bottom sheet -->

<section class="md-content-section">

  <div class="row">
    <div class="col-md-7">
      <h2>9-10 czerwca 2015 - Warszawa</h2>
      <div>                 
		  <p>Zapraszamy na coroczne spotkanie Uczestników Programu Promocji CS, połączonymi z warsztatami oraz wykładami z zakresu marketingu i promocji CS, które odbędzie się 9/10 czerwca w Hotelu Warszwa Centrum w Warszawie, zatytułowane:</p>
		  <p>Realizacja promocji wspólnej marki - narzedzia na rynkach lokalnych. <br>
	      "Jak pisać, by mój tekst został przeczytany" - wykład i warsztaty Igora Janke.		    </p>
		  <p>W tym roku szczególny nacisk położymy na omówienie narzedzi promocji na rynkach lokalnych oraz na kontakt dostawców CS z lokalnymi mediami. Igor Janke, znany m.in. jako redaktor Rzeczpospolitej odsłoni zasady tworzenia komunikatów prasowych i tekstów informacyjnych w taki sposób, aby były one chętnie publikowane przez media i pozytywnie odbierane przez czytelników. Samo opublikowanie komunikatu prasowego na stronie internetowej firmy to za mało, aby zostać zauważonym przez media. Nawet dotarcie z komunikatem do mediów nie gwarantuje sukcesu, jeśli tekst nie zawiera informacji, które media mogą zainteresować. Omówimy także kwestię pomysłu wdrożenia Certyfikatu CS i postaramy się wspólnie wypracować program certyfikacyjny.		    </p>
		  <p>Przypominamy, że udział w seminarium jest dofinansowany w 50 proc. z budżetu Programu dla jednego przedstawiciela firmy.		    </p>
		  <p>Aby zapisać się na szkolenie należy do 25 maja przesłać uzupełniony i podpisany formularz zgłoszeniowy na adres agnieszka@cieplosystemowe.pl. </p>
      </div>
    </div>
    <div class="col-md-5">
      <md-content>      
        <div class="md-content__download"> 
        <h2>Materiały do pobrania</h2>  
          <li class="download_list">
          <a href="img/dokumenty/plan.pdf" target="_blank">
            <img src="img/_thumbs/pdf.png" alt="">
            <p>Program ramowy szkolenia i karta zgłoszeniowa </p>
          </a>
        </li>
                 
        </div>
      </md-content>
    </div>
  </div>

</section>

<hr/>


</div>


