<div class="page">
   
    <div class="ui-timline-container">
        <section class="ui-timeline">
            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-info btn-block">Przyszłe spotkania</a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">9-10.06.2015</div>
                        <div class="tl-icon square-icon sm bg-info"><i class="fa  fa-map-marker"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-info"><a href="#/spotkanie1">Jak pisać, by mój tekst został przeczytany</a></h4>
                            <p>Zapraszamy na coroczne spotkanie Uczestników Programu Promocji CS, połączonymi z warsztatami oraz wykładami z zakresu marketingu i promocji CS, które odbędzie się 9/10 czerwca w Hotelu Warszwa Centrum w Warszawie</p>
                        </div>
                    </div>
                </div>
            </article>

            

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-caption">
                            <a href="javascript:;" class="btn btn-danger btn-block">Archiwalne</a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">26-27.05.2014</div>
                        <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-map-marker"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-danger"> <a href="#/spotkanie1">Zarządzanie informacją w kryzysie i planowanie lokalnej kampanii reklamowej w radiu</a></h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">24.09.2013</div>
                        <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-map-marker"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-danger"><a href="#/spotkanie1">Obecności marki CS w nowych mediach</a></h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">24.09.2012</div>
                        <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-map-marker"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-danger"><a href="#/spotkanie1">Strategia lokalnego wykorzystania marki CS</a></h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">12.01.2011</div>
                        <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-map-marker"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-danger"><a href="#/spotkanie1">Jak mówić, abyt skutecznie się komunikować</a></h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

            <article class="tl-item alt">
                <div class="tl-body">
                    <div class="tl-entry">
                        <div class="tl-time">25.10.2010</div>
                       <div class="tl-icon square-icon sm bg-danger"><i class="fa fa-map-marker"></i></div>
                        <div class="tl-content">
                            <h4 class="tl-tile text-danger"><a href="#/spotkanie1">Trzecie spotkanie Uczestników Programu Promocji CS</a></h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words whic</p>
                        </div>
                    </div>
                </div>
            </article>

        </section>
    </div>

</div>