

<div id="nav-wrapper" class="md-whiteframe-z2">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="navigation-profile-picture">
          <a href="#/">
            <img src="dist/img/user.png" alt="" class="img80_80 img-circle">
          </a>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/dashboard/dashboard8">
              <md-icon md-svg-src="dist/img/icons/ic_dashboard_24px.svg"></md-icon>
              <span>Pulpit</span>
            </a>            
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/dashboard/dashboard1">
              <md-icon md-svg-src="dist/img/icons/ic_layers_24px.svg"></md-icon>
              <span>Dokumenty</span></a>
              <ul>
            	<li><a md-ink-ripple="#bbb" href="#/dokumenty2"><i class="fa fa-circle submenu__icon"></i><span> Plany działań</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dokumenty3"><i class="fa fa-circle submenu__icon"></i><span> Raporty</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dokumenty4"><i class="fa fa-circle submenu__icon"></i><span> Wyniki badań</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dokumenty5"><i class="fa fa-circle submenu__icon"></i><span> Ankieta</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dokumenty6"><i class="fa fa-circle submenu__icon"></i><span> Dokumenty akcesyjne</span></a></li>                 
            </ul>            
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/dashboard/dashboard2">
              <md-icon md-svg-src="dist/img/icons/ic_pages_24px.svg"></md-icon>
              <span> Działania reklamowe </span></a>
            <ul>
           		 <li><a md-ink-ripple="#bbb" href="#/dzialania_plan"><i class="fa fa-circle submenu__icon"></i><span> Kampanie</span></a></span></li>                                              
            </ul>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/dashboard/dashboard3">
              <md-icon md-svg-src="dist/img/icons/ic_view_module_24px.svg"></md-icon>
              <span> Akcje promocyjne </span></a>
            <ul>
            	<li><a md-ink-ripple="#bbb" href="#/akcja_1"><i class="fa fa-circle submenu__icon"></i><span> Zbnk</span><span class="badge badge-info">new</span></a></li>                
                <li><a md-ink-ripple="#bbb" href="#/akcja_2"><i class="fa fa-circle submenu__icon"></i><span> Święta bez granic</span></a></li>                 
            </ul>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/dashboard/dashboard4">
              <md-icon md-svg-src="dist/img/icons/ic_transform_24px.svg"></md-icon>
              <span> Narzędzia </span></a>
            <ul>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span> Czerwony kapturek</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span> Czarny Smog</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span> Social media</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span>Zdjęcia</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span> Infografiki</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span> Narzędzia www</span></a></span></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span>Wzory graficzne</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span> SIW + logotypy</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span> Banery + szablony</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span> Lokalny MCS</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/dla_dzieci"><i class="fa fa-circle submenu__icon"></i><span>Materiały wewnętrzne</span> <span class="badge badge-info">new</span></a></li>
            </ul>
        </li>
       <li>
            <a md-ink-ripple="#bbb" href="#/spotkania">
              <md-icon md-svg-src="dist/img/icons/ic_trending_up_24px.svg"></md-icon>
              <span> Spotkania uczestników </span></a>
            <ul>
            	<li><a md-ink-ripple="#bbb" href="#/spotkanie1"><i class="fa fa-circle submenu__icon"></i><span>2015</span><span class="badge badge-warning">nadchodzące</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/spotkanie1"><i class="fa fa-circle submenu__icon"></i><span>2014</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/spotkanie1"><i class="fa fa-circle submenu__icon"></i><span>2013</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/spotkanie1"><i class="fa fa-circle submenu__icon"></i><span>2012</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/spotkanie1"><i class="fa fa-circle submenu__icon"></i><span>2011</span></a></li>
            </ul>
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/dashboard/dashboard6">
              <md-icon md-svg-src="dist/img/icons/ic_map_24px.svg"></md-icon>
              <span> Dobre praktyki </span></a>
            <ul>
                <li><a md-ink-ripple="#bbb" href="#/praktyki_user"><i class="fa fa-circle submenu__icon"></i><span> Uczestników</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/praktyki_user"><i class="fa fa-circle submenu__icon"></i><span> Ciepło jak u mamy</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/praktyki_user"><i class="fa fa-circle submenu__icon"></i><span> Zmieńbojler na kaloryfer</span></a></li>
                <li><a md-ink-ripple="#bbb" href="#/praktyki_user"><i class="fa fa-circle submenu__icon"></i><span> Pokaż ciepło</span></a></li>
            </ul> 
        </li>
        <li>
            <a md-ink-ripple="#bbb" href="#/dashboard/dashboard9">
              <md-icon md-svg-src="dist/img/icons/ic_star_24px.svg"></md-icon>
              <span> Grywalizacja </span></a>
        </li>  
    </ul>

</div>